$black: #000000;
$black-b: #111827;

$dark-a: #4E4E4E;
$dark-b: #373840;
$dark-c: #26303f;
$dark-d: #111111;
$dark-charcoal: #333333;

$white: #ffffff;
$white-b: #f9fafb;
$white-antiflash: #F2F2F2;

$red-a: #D60459;
$red-b: #C44F6D;
$red-c: #AE3878;
$red-light: #ff002b;

$green-a: #00D296;
$green-b: #a1c804;
$green-c: #B7D038;
$green-d: #72A603;
$green-e: #7FBF3F;

$yellow-a: #FD9A24;
$yellow-b: #FBB124;
$yellow-c: #FCCF3E;
$yellow-d: #FDD301;

$gray: #abb0b4;
$gray-b: #F9FAFC;
$gray-c: #d1d5db;
$gray-granite: #616161;
$gray-slate: #708090;
$gray-davys: #555555;
$gray-platinum: #E5E5E5;
$gray-cultured: #F5F5F5;
$gray-bright: #EEEEEE;
$gray-light: #D3D3D3;

$blue: #4085CB;
$blue-sky: #00bceb;
$blue-green: #00DAD3;
$blue-violet: #6875C4;

$violet-a: #6E418C;
$violet-b: #A04E99;
$violet-c: #9B81B3;

$multicolor-green: #B0CF69;
$multicolor-yellow: #FAD30F;
$multicolor-orange: #F55920;
$multicolor-red: #B30264;
$multicolor-violet: #503C9E;
$multicolor-blue: #237FC4;

$_gray-a: #F3F4F6;
$_gray-b: #f8f9fc;
$_gray-c: #f5f5f7;

$ciscoCX-blue: #194572;
$ciscoCX-sky: #00BDEF;
$ciscoCX-navy: #052345;
$ciscoCX-green: #87C15D;
$ciscoCX-yellow: #F4AC42;
$ciscoCX-black: #121212;
$cisco-blue: #0070d2;

$cisco2023_sky: #00BDEF;
$cisco2023_blue: #0076DB;
$cisco2023_navy: #042750;
$cisco2023_red: #F60000;
$cisco2023_green: #57C232;
$cisco2023_yellow: #FFA700;
$cisco2023_gray: #E1E1E1;

// @include text-base();
@mixin text-xs($weight: 400) {
    font-weight: $weight;
    font-size: 0.75rem;
    line-height: 1rem;
}

@mixin text-13($weight: 400) {
    font-weight: $weight;
    font-size: 0.8125rem;
    line-height: 1rem;
}

@mixin text-sm($weight: 400) {
    font-weight: $weight;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin text-15($weight: 400) {
    font-weight: $weight;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

@mixin text-base($weight: 400) {
    font-weight: $weight;
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-lg($weight: 400) {
    font-weight: $weight;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@mixin text-xl($weight: 400) {
    font-weight: $weight;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin text-2xl($weight: 400) {
    font-weight: $weight;
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin text-3xl($weight: 400) {
    font-weight: $weight;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@mixin text-4xl($weight: 400) {
    font-weight: $weight;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

@mixin text-5xl($weight: 400) {
    font-weight: $weight;
    font-size: 3rem;
    line-height: 1;
}

@mixin text-6xl($weight: 400) {
    font-weight: $weight;
    font-size: 3.75rem;
    line-height: 1;
}

@mixin rounded {
    border-radius: 0.25rem;
}

@mixin rounded-md {
    border-radius: 0.375rem;
}

@mixin rounded-lg {
    border-radius: 0.5rem;
}

@mixin rounded-xl {
    border-radius: 0.75rem;
}

@mixin rounded-full {
    border-radius: 50px;
}

@mixin shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@mixin shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@mixin shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@mixin shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@mixin border($color: #D3D3D3) {
    border: 1px solid $color;
}

@mixin border-bottom($color: #D3D3D3) {
    border-bottom: 1px solid $color;
}

@mixin border-top($color: #D3D3D3) {
    border-top: 1px solid $color;
}

// @include flex(flex-start, flex-start);
@mixin flex($justify: space-between, $align: center) {
    display: flex;
    position: relative;
    justify-content: $justify;
    align-items: $align;
    box-sizing: border-box;
}

@mixin flexInner() {
    position: relative;
    box-sizing: border-box;
}

// @include wrapper(90rem);
@mixin wrapper($width, $mt: 0, $mr: auto, $mb: 0, $ml: auto) { 
    position: relative;
    max-width: $width;
    margin: $mt $mr $mb $ml;
    box-sizing: border-box;
}

// @include transition(0.30s);
@mixin transition($time: 0.30s) { 
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

/*
@media (max-width: 640px) {}
@media (max-width: 768px) {}
@media (max-width: 1024px) {}
@media (max-width: 1280px) {}
@media (max-width: 1536px) {}
*/